// app global css in Sass form
@import 'quasar.variables.sass'
$iconsize  : 24px

/* latin-ext */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/cf5.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/cf6.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

/* latin-ext */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/cf11.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/cf12.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/cf17.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/cf18.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/rm1.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/rm2.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 500
  src: url(~assets/fonts/rm3.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/rm4.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 300
  src: url(~assets/fonts/rm5.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 400
  src: url(~assets/fonts/rm6.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 500
  src: url(~assets/fonts/rm7.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 700
  src: url(~assets/fonts/rm8.woff) format('woff')

@font-face
  font-family: Antonio-Bold
  src: url(~assets/fonts/Antonio-Bold.ttf)

@font-face
  font-family: Antonio-Light
  src: url(~assets/fonts/Antonio-Light.ttf)

@font-face
  font-family: Antonio-Regular
  src: url(~assets/fonts/Antonio-Regular.ttf)

@font-face
  font-family: Calibri-Light
  src: url(~assets/fonts/Calibri-Light.woff)

.font-cf
  font-family: Comfortaa

.font-mono
  font-family: 'Roboto Mono'

.font-antonio-b
  font-family: Antonio-Bold

.font-antonio-l
  font-family: Antonio-Light

.font-antonio-r
  font-family: Antonio-Regular

.font-calibri-l
  font-family: Calibri-Light

.fs-xs
  font-size:  0.6rem
.fs-sm
  font-size:  0.7rem
.fs-md
  font-size:  0.9rem
.fs-lg
  font-size:  1.1rem
.fs-xl
  font-size:  1.3rem
.fs-xxl
  font-size:  1.7rem
.titre
  font-family: Comfortaa
.titre-xs
  font-family: Comfortaa
  font-size:  0.6rem
.titre-sm
  font-family: Comfortaa
  font-size:  0.7rem
.titre-md
  font-family: Comfortaa
  font-size:  0.9rem
.titre-lg
  font-family: Comfortaa
  font-size:  1.1rem
.titre-xl
  font-family: Comfortaa
  font-size:  1.3rem
.titre-xxl
  font-family: Comfortaa
  font-size:  1.7rem

.petitelargeur
  width: 28rem
  max-width: 95vw

.moyennelargeur
  width: 40rem
  max-width: 95vw

.grandelargeur
  width: 200rem
  max-width: 95vw

.sombre, .sombre0
  background-color: $dark
  color: $clair

.clair, .clair0
  background-color: $clair
  color: $dark

.sombre1
  background-color: #3C3C3C
  color: white

.clair1
  background-color: #E1E1E1
  color: black

$tphradius: 16px
$tph: 32px

.photomax
  border-radius: $tphradius !important
  width: $tph
  height: $tph

.maauto
  margin: 0 auto 0 auto

.overflow-y-auto
  overflow-y: auto

.height-2
  height: 2rem

.height-4
  height: 4rem

.height-6
  height: 6rem

.height-8
  height: 8rem

.height-10
  height: 10rem

.height-12
  height: 12rem

.expansion-header-class-1
  padding: 2px !important
  min-height: 1.6rem !important

$body-font-size   : 0.9rem !default
$body-line-height : 1.1rem !default

.zone
  border-left: 4px solid transparent
.zone:hover
  border-left: 4px solid $warning
