// app global css in Sass form
@import 'quasar.variables.sass'
$iconsize  : 24px

/* latin-ext */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/cf5.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/cf6.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

/* latin-ext */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/cf11.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/cf12.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/cf17.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/cf18.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/rm1.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/rm2.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 500
  src: url(~assets/fonts/rm3.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/rm4.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 300
  src: url(~assets/fonts/rm5.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 400
  src: url(~assets/fonts/rm6.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 500
  src: url(~assets/fonts/rm7.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 700
  src: url(~assets/fonts/rm8.woff) format('woff')

@font-face
  font-family: Antonio-Bold
  src: url(~assets/fonts/Antonio-Bold.ttf)

@font-face
  font-family: Antonio-Light
  src: url(~assets/fonts/Antonio-Light.ttf)

@font-face
  font-family: Antonio-Regular
  src: url(~assets/fonts/Antonio-Regular.ttf)

@font-face
  font-family: Calibri-Light
  src: url(~assets/fonts/Calibri-Light.woff)

.font-cf
  font-family: Comfortaa

.font-mono
  font-family: 'Roboto Mono'

.font-antonio-b
  font-family: Antonio-Bold

.font-antonio-l
  font-family: Antonio-Light

.font-antonio-r
  font-family: Antonio-Regular

.font-calibri-l
  font-family: Calibri-Light

.titre-1
  font-family: Calibri-Light
  font-size: 2rem
.titre-2
  font-family: Calibri-Light
  font-size: 1.5rem
.titre-3
  font-family: Calibri-Light
  font-size: 1.2rem
.titre-4
  font-family: Calibri-Light
  font-size: 1rem
.titre-5
  font-family: Calibri-Light
  font-size: 0.8rem

.petitelargeur
  width: 25rem
  max-width: 95vw

.moyennelargeur
  width: 50rem
  max-width: 95vw

.grandelargeur
  width: 200rem
  max-width: 95vw

.sombre
  background-color: $dark
  color: $clair

.clair
  background-color: $clair
  color: $dark

$tphradius: 16px
$tph: 32px
