@import '../css/app.sass'

::v-deep(.q-field__bottom)
  font-size: 0.9rem
  color: $warning
  font-style: italic
  bottom: 5px !important
::v-deep(.q-field__native)
  font-size: 1rem
  font-family: "Roboto Mono"
  color: #1B5E20 !important
::v-deep(.q-field--dark .q-field__native)
  color: #388E3C !important
